.header {

  &__item {
    padding: 11px 20px;

    &:hover {
      background: linear-gradient(0deg, #131315, #131315), linear-gradient(0deg, #1E1C21, #1E1C21);
    }

    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__logo {
    color: #fff;
    opacity: 0.8;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;

    &:hover {
      color: #fff;
      opacity: 1;
      background: linear-gradient(0deg, #131315, #131315), linear-gradient(0deg, #1E1C21, #1E1C21);
    }
  }

}