body {
  background: #f2f2f2;
  font-family: Gilroy,sans-serif;
  overflow-x: hidden;
}
.basic-button {
  font-family: Gilroy,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  letter-spacing: .04em;
  text-transform: uppercase;
  border-radius: 9px;
  border: none;
  height: 45px;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out
}

.basic-button-blue {
  color: #f6f7fb;
  background: #1448ff;
  -webkit-box-shadow: 0 12px 26px -17px rgba(35,55,121,.6);
  box-shadow: 0 12px 26px -17px rgba(35,55,121,.6)
}

.basic-button-blue:hover {
  color: #f6f7fb;
  -webkit-box-shadow: 0 12px 26px -8px rgba(35,55,121,.6);
  box-shadow: 0 12px 26px -8px rgba(35,55,121,.6)
}

.basic-button-blue:focus {
  color: #f6f7fb
}

